# Environment Configuration File


# PORTS
GATEWAY_PORT=5000
ACCOUNT_PORT=5001
AUTH_PORT=5002
BILLING_PORT=5003
DEVICE_PORT=5004
EMBEDDINGS_PORT=5005
IMAGE_PORT=5006
MODEL_PORT=5007
NOTIFICATION_PORT=5008
RECOGNITION_PORT=5009

# Localhost Service URLs
GATEWAY_URL=http://localhost:5000
ACCOUNT_URL=http://localhost:5001
AUTH_URL=http://localhost:5002
BILLING_URL=http://localhost:5003
DEVICE_URL=http://localhost:5004
EMBEDDINGS_URL=http://localhost:5005
IMAGE_URL=http://localhost:5006
MODEL_URL=http://localhost:5007
NOTIFICATION_URL=http://localhost:5008
RECOGNITION_URL=http://localhost:5009

# Flask Configs

# DeepFace Configs

# Firebase Configs
FB_SERVICE_ACCOUNT_KEY
FB_
FB_API_KEY
FB_PRJ_ID
FB_STORAGE_BUCKET
FB_APP_ID



# Mobile Configs

